<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kukot</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Pelaajaluettelo</h1>

        <form class="ui form" action="/admin/add" method="post">
            <div style="margin-top: 50px;" class="field">
              <div class="field"></div>
                <label>Lisää Kukon nimi ja kuvaus</label>
                <input type="text" name="title" placeholder="Kukon nimi..."><br>
            </div>
            <div class="field">
                <textarea rows="3" name="description" placeholder="Kukon kuvaus..."></textarea>
            </div>
            <button class="ui blue button" type="submit">Talleta/Päivitä</button>
        </form>

        <hr>

        {% for name, kuvaus in details.items() %}
        <div class="ui segment" style="font-size: x-small;">
            <p class="ui big header">{{name }} | {{ kuvaus }}</p>

{#  Disabled for the time being...
 <a class="ui blue button" href="/pelaajat/update/{{ name }}">Update</a>
 #}
            <a class="ui red button" href="/admin/delete/{{ name }}">Poista</a>
        </div>
        {% endfor %}    </div>
</body>

</html>