{% extends "public/templates/pelaajat.html" %}

{% block title %} Kukot {% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
              <head>
            <h1 class="tab"> Tervetuloa Team-Yonex jäsen!</h1>
            <p class="tab"> Näillä sivuilla voi jäsenet muistella menneitä ja suunnitella tulevia. Kokeneet kehäketut voivat myös lisätä uusia jäseniä. </p>
            <p class="tab"> Lisätään toimintoja tarpeiden mukaan.</p>
            <p class="tab"> Pelipaikkana toimii: <a href="https://fiu-frederiksberg.dk/hermes-hallen/">Hermeshallen</a></p>
            </head>
        </div>
    </div>
{% endblock %}

{% block picture %}
        <div class="col">

            <style type="text/css">
              body {
                background: white;
                color: black;
              }
              h1 {
                  margin-top: 50px;
              }
              div.container {
                max-width: 600px;
                margin: 10px auto;
                <!-- border: 20px solid white; -->
                padding: 10px;
              }
              h4 {
                text-transform: uppercase;
              }
            </style>
          <body>
            <div class="container">
              <img src="{{url_for('static', filename='viiri.jpg')}}">
            </div>
            </body>
        </div>
{% endblock %}
