{% extends 'base.html' %}

{% block content %}

    <div class="row">
       <div class="col">

            <h1 class="tab">Kukot:</h1>

            {% for name, kuvaus in details.items() %}
            <div class="ui segment" style="font-size: medium; margin-left: 140px">
                <p class="ui big header">{{ name }}: </p>
                <p class="ui big header">{{ kuvaus }}</p>
                <hr>
            </div>
            {% endfor %}

       </div>
   </div>

{% endblock %}

{% block picture %}
        <div class="col">

            <style>
              h1 {
                  margin-top: 50px;
              }
              div.container {
                max-width: 600px;
                margin: 10px auto;
                <!-- border: 20px solid white; -->
                padding: 10px;
              }
            </style>
          <body>
            <div class="container">
              <img src="{{url_for('static', filename='viiri.jpg')}}">
            </div>
            </body>
        </div>
{% endblock %}
