{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

    <div class="row">
       <div class="col">

            <h1 class="tab">Kukot:</h1>
            <br/>
            {% for name, kuvaus in details.items() %}
            <div class="ui segment" style="font-size: medium; margin-left: 140px">
                <p class="ui big header">{{ name }}:</p>
                <p class="ui big header">{{ kuvaus }}</p>
                <hr>
            </div>
            {% endfor %}

       </div>
   </div>

{% endblock %}

{% block picture %}
        <div class="col">

            <style>
              div.container {
                max-width: 100%;
                margin: 10px auto;
                <!-- border: 20px solid white; -->
                padding: 10px;
              }
            </style>
          <body>
            <div class="container">
              <img src="{{url_for('static', filename='viiri.jpg')}}">
            </div>
            </body>
        </div>
{% endblock %}
